{% extends "layouts/default.twig" %}

{% block content %}
<div class="row">
	<div class="col-sm-7">
		<h2>
			{% if session.name %}
			{{ session.name }}
			{% else %}
			{{ session.timeCreated|date("Y-m-d") }}
			{% endif %}
		</h2>
	</div>
	<div class="col-sm-5 text-end">
		<button class="btn btn-sm btn-danger" role="button" data-bs-toggle="modal" data-bs-target="#modal-{{session.id}}">
			Delete session <i class="bi bi-trash"></i>
		</button>
		<a type="button" class="btn btn-sm btn-dark" target="_blank" href="/sessions/csv/{{ session.id }}">Download graph CSV</a>
	</div>
</div>

<dl class="row">
	<dt class="col-sm-3">Started</dt>
    <dd class="col-sm-9">{{ session.timeCreated|date("Y-m-d H:i") }}</dd>
	
    <dt class="col-sm-3">Finished</dt>
    <dd class="col-sm-9">{{ session.timeFinished|date("Y-m-d H:i") }}</dd>
	
    <dt class="col-sm-3">Duration</dt>
    <dd class="col-sm-9">{{ session.duration }}</dd>
	
    <dt class="col-sm-3">Probes</dt>
    <dd class="col-sm-9">
		{% for probe in session.probeToMeatType %}
        <dl class="row">
			<dt class="col-sm-4">Probe {{ probe.probeIndex +1}}</dt>
            <dd class="col-sm-8">
				
				{% if probe.meatType %}
				{{ meatTypes[probe.meatType] }}
                {% else %}
				No preset set
                {% endif %}
            </dd>
        </dl>
        {% endfor %}
    </dd>
</dl>

<div class="row py-2">
	<h4>Graph</h4>
</div>

<div class="row">
	<div class="col">
		{% include 'elements/temperaturegraph.twig' with {
			'graph': {
				'id'    : 'sessionGraph',
				'title' : session.name,
				'series': temperatures,
				'colors': colors,
			}
		} %}
    </div>
</div>

<div class="row py-2">
	<h4>Events</h4>
</div>

<div class="row">
	<div class="col">
		<table class="table table-sm table-hover table-{{ theme }}">
			<thead>
				<tr>
					<th scope="col">#</th>
                    <th scope="col">Type</th>
                    <th scope="col">Message</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
				
				{% for key,event in session.events %}
                
				{% set rowClass = '' %}
				{% if event.type == "ALARM" %}{% set rowClass = 'table-warning' %}{% endif %}
				{% if event.type == "DISCONNECTED" %}{% set rowClass = 'table-danger' %}{% endif %}
				{% if event.type == "SET_PRESET" %}{% set rowClass = 'table-primary' %}{% endif %}
				
				<tr class="{{ rowClass }}">
					<th scope="row">{{ key+1 }}</th>
					<td>{{ eventTypes[event.type] }}</td>
					<td>{{ event.message }}</td>
					<td>{{ event.timeCreated|date("Y-m-d H:i") }}</td>
				</tr>
                {% endfor %}
            </tbody>
			
        </table>
    </div>
</div>

{% include 'elements/delete-modal.twig' with {
	'modal': {
		'id'    : session.id,
		'action': "/sessions/delete",
		'name'  : "sessionId",
		'value' : session.id,
	}
} %}

{% endblock %}

