{% extends "layouts/default.twig" %}

{% block content %}
<div class="row">
    <h2>Settings</h2>
</div>

<div class="row">
    <h4>Local</h4>
</div>

<form method="post">

    <div class="row mb-3">
        <label for="phone-id" class="col-sm-2 col-form-label">Phone-ID</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" id="phone-id" name="localsettings[phone-id]" placeholder="12abc3de-4567-89f0-a123-456b789012c3" value="{{ localsettings['phone-id'] }}">
            <div id="phone-idHelp" class="form-text">
                Your phone id. Consult the <a href="https://github.com/epiecs/grilleye-max-gui#how-to-get-your-phone-id">documentation</a> on how to obtain this.
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label for="timezone" class="col-sm-2 col-form-label">Timezone</label>
        <div class="col-sm-10">
            <select class="form-select" id="timezone" name="localsettings[timezone]">
                <option {% if localsettings.timezone == 'Etc/GMT' %} selected="selected"{% endif %} value="Etc/GMT+12">(GMT-12:00) International Date Line West</option>
                <option {% if localsettings.timezone == 'Pacific/Midway' %} selected="selected"{% endif %} value="Pacific/Midway">(GMT-11:00) Midway Island, Samoa</option>
                <option {% if localsettings.timezone == 'Pacific/Honolulu' %} selected="selected"{% endif %} value="Pacific/Honolulu">(GMT-10:00) Hawaii</option>
                <option {% if localsettings.timezone == 'US/Alaska' %} selected="selected"{% endif %} value="US/Alaska">(GMT-09:00) Alaska</option>
                <option {% if localsettings.timezone == 'America/Los_Angeles' %} selected="selected"{% endif %} value="America/Los_Angeles">(GMT-08:00) Pacific Time (US & Canada)</option>
                <option {% if localsettings.timezone == 'America/Tijuana' %} selected="selected"{% endif %} value="America/Tijuana">(GMT-08:00) Tijuana, Baja California</option>
                <option {% if localsettings.timezone == 'US/Arizona' %} selected="selected"{% endif %} value="US/Arizona">(GMT-07:00) Arizona</option>
                <option {% if localsettings.timezone == 'America/Chihuahua' %} selected="selected"{% endif %} value="America/Chihuahua">(GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
                <option {% if localsettings.timezone == 'US/Mountain' %} selected="selected"{% endif %} value="US/Mountain">(GMT-07:00) Mountain Time (US & Canada)</option>
                <option {% if localsettings.timezone == 'America/Managua' %} selected="selected"{% endif %} value="America/Managua">(GMT-06:00) Central America</option>
                <option {% if localsettings.timezone == 'US/Central' %} selected="selected"{% endif %} value="US/Central">(GMT-06:00) Central Time (US & Canada)</option>
                <option {% if localsettings.timezone == 'America/Mexico_City' %} selected="selected"{% endif %} value="America/Mexico_City">(GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
                <option {% if localsettings.timezone == 'Canada/Saskatchewan' %} selected="selected"{% endif %} value="Canada/Saskatchewan">(GMT-06:00) Saskatchewan</option>
                <option {% if localsettings.timezone == 'America/Bogota' %} selected="selected"{% endif %} value="America/Bogota">(GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
                <option {% if localsettings.timezone == 'US/Eastern' %} selected="selected"{% endif %} value="US/Eastern">(GMT-05:00) Eastern Time (US & Canada)</option>
                <option {% if localsettings.timezone == 'US/East' %} selected="selected"{% endif %} value="US/East-Indiana">(GMT-05:00) Indiana (East)</option>
                <option {% if localsettings.timezone == 'Canada/Atlantic' %} selected="selected"{% endif %} value="Canada/Atlantic">(GMT-04:00) Atlantic Time (Canada)</option>
                <option {% if localsettings.timezone == 'America/Caracas' %} selected="selected"{% endif %} value="America/Caracas">(GMT-04:00) Caracas, La Paz</option>
                <option {% if localsettings.timezone == 'America/Manaus' %} selected="selected"{% endif %} value="America/Manaus">(GMT-04:00) Manaus</option>
                <option {% if localsettings.timezone == 'America/Santiago' %} selected="selected"{% endif %} value="America/Santiago">(GMT-04:00) Santiago</option>
                <option {% if localsettings.timezone == 'Canada/Newfoundland' %} selected="selected"{% endif %} value="Canada/Newfoundland">(GMT-03:30) Newfoundland</option>
                <option {% if localsettings.timezone == 'America/Sao_Paulo' %} selected="selected"{% endif %} value="America/Sao_Paulo">(GMT-03:00) Brasilia</option>
                <option {% if localsettings.timezone == 'America/Argentina' %} selected="selected"{% endif %} value="America/Argentina/Buenos_Aires">(GMT-03:00) Buenos Aires, Georgetown</option>
                <option {% if localsettings.timezone == 'America/Godthab' %} selected="selected"{% endif %} value="America/Godthab">(GMT-03:00) Greenland</option>
                <option {% if localsettings.timezone == 'America/Montevideo' %} selected="selected"{% endif %} value="America/Montevideo">(GMT-03:00) Montevideo</option>
                <option {% if localsettings.timezone == 'America/Noronha' %} selected="selected"{% endif %} value="America/Noronha">(GMT-02:00) Mid-Atlantic</option>
                <option {% if localsettings.timezone == 'Atlantic/Cape_Verde' %} selected="selected"{% endif %} value="Atlantic/Cape_Verde">(GMT-01:00) Cape Verde Is.</option>
                <option {% if localsettings.timezone == 'Atlantic/Azores' %} selected="selected"{% endif %} value="Atlantic/Azores">(GMT-01:00) Azores</option>
                <option {% if localsettings.timezone == 'Africa/Casablanca' %} selected="selected"{% endif %} value="Africa/Casablanca">(GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
                <option {% if localsettings.timezone == 'Etc/Greenwich' %} selected="selected"{% endif %} value="Etc/Greenwich">(GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
                <option {% if localsettings.timezone == 'Europe/Amsterdam' %} selected="selected"{% endif %} value="Europe/Amsterdam">(GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
                <option {% if localsettings.timezone == 'Europe/Belgrade' %} selected="selected"{% endif %} value="Europe/Belgrade">(GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
                <option {% if localsettings.timezone == 'Europe/Brussels' %} selected="selected"{% endif %} value="Europe/Brussels">(GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
                <option {% if localsettings.timezone == 'Europe/Sarajevo' %} selected="selected"{% endif %} value="Europe/Sarajevo">(GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
                <option {% if localsettings.timezone == 'Africa/Lagos' %} selected="selected"{% endif %} value="Africa/Lagos">(GMT+01:00) West Central Africa</option>
                <option {% if localsettings.timezone == 'Asia/Amman' %} selected="selected"{% endif %} value="Asia/Amman">(GMT+02:00) Amman</option>
                <option {% if localsettings.timezone == 'Europe/Athens' %} selected="selected"{% endif %} value="Europe/Athens">(GMT+02:00) Athens, Bucharest, Istanbul</option>
                <option {% if localsettings.timezone == 'Asia/Beirut' %} selected="selected"{% endif %} value="Asia/Beirut">(GMT+02:00) Beirut</option>
                <option {% if localsettings.timezone == 'Africa/Cairo' %} selected="selected"{% endif %} value="Africa/Cairo">(GMT+02:00) Cairo</option>
                <option {% if localsettings.timezone == 'Africa/Harare' %} selected="selected"{% endif %} value="Africa/Harare">(GMT+02:00) Harare, Pretoria</option>
                <option {% if localsettings.timezone == 'Europe/Helsinki' %} selected="selected"{% endif %} value="Europe/Helsinki">(GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
                <option {% if localsettings.timezone == 'Asia/Jerusalem' %} selected="selected"{% endif %} value="Asia/Jerusalem">(GMT+02:00) Jerusalem</option>
                <option {% if localsettings.timezone == 'Europe/Minsk' %} selected="selected"{% endif %} value="Europe/Minsk">(GMT+02:00) Minsk</option>
                <option {% if localsettings.timezone == 'Africa/Windhoek' %} selected="selected"{% endif %} value="Africa/Windhoek">(GMT+02:00) Windhoek</option>
                <option {% if localsettings.timezone == 'Asia/Kuwait' %} selected="selected"{% endif %} value="Asia/Kuwait">(GMT+03:00) Kuwait, Riyadh, Baghdad</option>
                <option {% if localsettings.timezone == 'Europe/Moscow' %} selected="selected"{% endif %} value="Europe/Moscow">(GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
                <option {% if localsettings.timezone == 'Africa/Nairobi' %} selected="selected"{% endif %} value="Africa/Nairobi">(GMT+03:00) Nairobi</option>
                <option {% if localsettings.timezone == 'Asia/Tbilisi' %} selected="selected"{% endif %} value="Asia/Tbilisi">(GMT+03:00) Tbilisi</option>
                <option {% if localsettings.timezone == 'Asia/Tehran' %} selected="selected"{% endif %} value="Asia/Tehran">(GMT+03:30) Tehran</option>
                <option {% if localsettings.timezone == 'Asia/Muscat' %} selected="selected"{% endif %} value="Asia/Muscat">(GMT+04:00) Abu Dhabi, Muscat</option>
                <option {% if localsettings.timezone == 'Asia/Baku' %} selected="selected"{% endif %} value="Asia/Baku">(GMT+04:00) Baku</option>
                <option {% if localsettings.timezone == 'Asia/Yerevan' %} selected="selected"{% endif %} value="Asia/Yerevan">(GMT+04:00) Yerevan</option>
                <option {% if localsettings.timezone == 'Asia/Kabul' %} selected="selected"{% endif %} value="Asia/Kabul">(GMT+04:30) Kabul</option>
                <option {% if localsettings.timezone == 'Asia/Yekaterinburg' %} selected="selected"{% endif %} value="Asia/Yekaterinburg">(GMT+05:00) Yekaterinburg</option>
                <option {% if localsettings.timezone == 'Asia/Karachi' %} selected="selected"{% endif %} value="Asia/Karachi">(GMT+05:00) Islamabad, Karachi, Tashkent</option>
                <option {% if localsettings.timezone == 'Asia/Calcutta' %} selected="selected"{% endif %} value="Asia/Calcutta">(GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                <option {% if localsettings.timezone == 'Asia/Calcutta' %} selected="selected"{% endif %} value="Asia/Calcutta">(GMT+05:30) Sri Jayawardenapura</option>
                <option {% if localsettings.timezone == 'Asia/Katmandu' %} selected="selected"{% endif %} value="Asia/Katmandu">(GMT+05:45) Kathmandu</option>
                <option {% if localsettings.timezone == 'Asia/Almaty' %} selected="selected"{% endif %} value="Asia/Almaty">(GMT+06:00) Almaty, Novosibirsk</option>
                <option {% if localsettings.timezone == 'Asia/Dhaka' %} selected="selected"{% endif %} value="Asia/Dhaka">(GMT+06:00) Astana, Dhaka</option>
                <option {% if localsettings.timezone == 'Asia/Rangoon' %} selected="selected"{% endif %} value="Asia/Rangoon">(GMT+06:30) Yangon (Rangoon)</option>
                <option {% if localsettings.timezone == 'Asia/Bangkok' %} selected="selected"{% endif %} value="Asia/Bangkok">(GMT+07:00) Bangkok, Hanoi, Jakarta</option>
                <option {% if localsettings.timezone == 'Asia/Krasnoyarsk' %} selected="selected"{% endif %} value="Asia/Krasnoyarsk">(GMT+07:00) Krasnoyarsk</option>
                <option {% if localsettings.timezone == 'Asia/Hong_Kong' %} selected="selected"{% endif %} value="Asia/Hong_Kong">(GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
                <option {% if localsettings.timezone == 'Asia/Kuala_Lumpur' %} selected="selected"{% endif %} value="Asia/Kuala_Lumpur">(GMT+08:00) Kuala Lumpur, Singapore</option>
                <option {% if localsettings.timezone == 'Asia/Irkutsk' %} selected="selected"{% endif %} value="Asia/Irkutsk">(GMT+08:00) Irkutsk, Ulaan Bataar</option>
                <option {% if localsettings.timezone == 'Australia/Perth' %} selected="selected"{% endif %} value="Australia/Perth">(GMT+08:00) Perth</option>
                <option {% if localsettings.timezone == 'Asia/Taipei' %} selected="selected"{% endif %} value="Asia/Taipei">(GMT+08:00) Taipei</option>
                <option {% if localsettings.timezone == 'Asia/Tokyo' %} selected="selected"{% endif %} value="Asia/Tokyo">(GMT+09:00) Osaka, Sapporo, Tokyo</option>
                <option {% if localsettings.timezone == 'Asia/Seoul' %} selected="selected"{% endif %} value="Asia/Seoul">(GMT+09:00) Seoul</option>
                <option {% if localsettings.timezone == 'Asia/Yakutsk' %} selected="selected"{% endif %} value="Asia/Yakutsk">(GMT+09:00) Yakutsk</option>
                <option {% if localsettings.timezone == 'Australia/Adelaide' %} selected="selected"{% endif %} value="Australia/Adelaide">(GMT+09:30) Adelaide</option>
                <option {% if localsettings.timezone == 'Australia/Darwin' %} selected="selected"{% endif %} value="Australia/Darwin">(GMT+09:30) Darwin</option>
                <option {% if localsettings.timezone == 'Australia/Brisbane' %} selected="selected"{% endif %} value="Australia/Brisbane">(GMT+10:00) Brisbane</option>
                <option {% if localsettings.timezone == 'Australia/Canberra' %} selected="selected"{% endif %} value="Australia/Canberra">(GMT+10:00) Canberra, Melbourne, Sydney</option>
                <option {% if localsettings.timezone == 'Australia/Hobart' %} selected="selected"{% endif %} value="Australia/Hobart">(GMT+10:00) Hobart</option>
                <option {% if localsettings.timezone == 'Pacific/Guam' %} selected="selected"{% endif %} value="Pacific/Guam">(GMT+10:00) Guam, Port Moresby</option>
                <option {% if localsettings.timezone == 'Asia/Vladivostok' %} selected="selected"{% endif %} value="Asia/Vladivostok">(GMT+10:00) Vladivostok</option>
                <option {% if localsettings.timezone == 'Asia/Magadan' %} selected="selected"{% endif %} value="Asia/Magadan">(GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
                <option {% if localsettings.timezone == 'Pacific/Auckland' %} selected="selected"{% endif %} value="Pacific/Auckland">(GMT+12:00) Auckland, Wellington</option>
                <option {% if localsettings.timezone == 'Pacific/Fiji' %} selected="selected"{% endif %} value="Pacific/Fiji">(GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
                <option {% if localsettings.timezone == 'Pacific/Tongatapu' %} selected="selected"{% endif %} value="Pacific/Tongatapu">(GMT+13:00) Nuku'alofa</option>
            </select>
            <div id="timezoneHelp" class="form-text">
                Your timezone. This is used to correctly calculate all dates from GMT.
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label for="liveMinutes" class="col-sm-2 col-form-label">Live minutes</label>
        <div class="col-sm-10">
            <select class="form-select" id="liveMinutes" name="localsettings[liveMinutes]" {{ disabled }}>
                <option value="5" {% if localsettings.liveMinutes == '5' %} selected="selected"{% endif %}>5 minutes</option>
                <option value="10" {% if localsettings.liveMinutes == '10' %} selected="selected"{% endif %}>10 minutes</option>
                <option value="15" {% if localsettings.liveMinutes == '15' %} selected="selected"{% endif %}>15 minutes</option>
                <option value="30" {% if localsettings.liveMinutes == '30' %} selected="selected"{% endif %}>30 minutes</option>
            </select>
            <div id="liveMinutesHelp" class="form-text">
                How many minutes are shown on the live graph.
            </div>
        </div>
    </div>
   
    <div class="row mb-3">
        <label for="timeformat" class="col-sm-2 col-form-label">Time/date format</label>
        <div class="col-sm-10">
            <select class="form-select" id="timeformat" name="localsettings[timeformat]" {{ disabled }}>
                <option value="Y-m-d H:i" {% if localsettings.timeformat == 'Y-m-d H:i' %} selected="selected"{% endif %}>{{ 'now'|date("Y-m-d H:i") }}</option>
                <option value="d-m-Y H:i" {% if localsettings.timeformat == 'd-m-Y H:i' %} selected="selected"{% endif %}>{{ 'now'|date("d-m-Y H:i") }}</option>
                <option value="m-d-Y H:i" {% if localsettings.timeformat == 'm-d-Y H:i' %} selected="selected"{% endif %}>{{ 'now'|date("m-d-Y H:i") }}</option>
                <option value="D M j H:i" {% if localsettings.timeformat == 'D M j H:i' %} selected="selected"{% endif %}>{{ 'now'|date("D M j H:i") }}</option>
                <option value="F j, Y, g:i a" {% if localsettings.timeformat == 'F j, Y, g:i a' %} selected="selected"{% endif %}>{{ 'now'|date("F j, Y, g:i a") }}</option>
            </select>
            <div id="timeformatHelp" class="form-text">
                The time format. How date/time values are formatted.
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label for="timeformat" class="col-sm-2 col-form-label">Probe colors</label>
        <div class="col-sm-10">
            <div class="row">
                {% for probeid,probecolor in localsettings.probeColors %}
                    <div class="col col-3 col-md-auto py-1">
                        <input type="color" class="form-control form-control-color" id="probe-{{ probeid }}" name="localsettings[probeColors][{{ probeid }}]" value="{{ probecolor }}" title="Probe {{ probeid }}">
                        <div id="timeformatHelp" class="form-text">
                            Probe {{ probeid }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label for="timeformat" class="col-sm-2 col-form-label">Probe visibility</label>
        <div class="col-sm-10">
            <div class="row">
                
                {% for probeid,visible in localsettings.probeVisibility %}
                    
                    <div class="col col-3 col-md-auto py-1">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="probe-visible-{{ probeid }}" name="localsettings[probeVisibility][{{ probeid }}]" title="Probe {{ probeid }}" {% if visible == 1 %}checked{% endif %}>
                            <label class="form-check-label" for="flexSwitchCheckDefault">{{ probeid }}</label>
                          </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

<div class="row py-3">
    <h4>Grilleye</h4>
</div>
{% if grilleyesettings|length ==0 %}
    <!-- If there are not grilleye settings disable the entire form -->
    {% set disabled = 'disabled' %}
{% endif %}


    <div class="row mb-3">
        <label for="unitOfMeassure" class="col-sm-2 col-form-label">Units of measurement</label>
        <div class="col-sm-10">
            <select class="form-select" id="unitOfMeassure" name="[unitOfMeassure]" {{ disabled }}>
                <option value="CELSIUS" {% if grilleyesettings.unitOfMeassure == 'CELSIUS' %} selected="selected"{% endif %}>Celcius</option>
                <option value="FAHRENHEIT" {% if grilleyesettings.unitOfMeassure == 'FAHRENHEIT' %} selected="selected"{% endif %}>Fahrenheit</option>
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <label for="alarmVolume" class="col-sm-2 col-form-label">Alarm volume</label>
        <div class="col-sm-10">
            <select class="form-select" id="alarmVolume" name="[alarmVolume]" {{ disabled }}>
                <option value="0" {% if grilleyesettings.alarmVolume == 0 %} selected="selected"{% endif %}>0%</option>
                <option value="0.5" {% if grilleyesettings.alarmVolume == 0.5 %} selected="selected"{% endif %}>50%</option>
                <option value="1" {% if grilleyesettings.alarmVolume == 1 %} selected="selected"{% endif %}>100%</option>
            </select>
            <div id="alarmVolumeHelp" class="form-text">
                The alarm volume on your GrillEye
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <label for="timeFormat" class="col-sm-2 col-form-label">Time format</label>
        <div class="col-sm-10">
            <select class="form-select" id="timeFormat" name="[timeFormat]" {{ disabled }}>
                <option value="TWENTY_FOUR_HOURS" {% if grilleyesettings.timeFormat == 'TWENTY_FOUR_HOURS' %} selected="selected"{% endif %}>24 hours</option>
                <option value="TWELVE_HOURS" {% if grilleyesettings.timeFormat == 'TWELVE_HOURS' %} selected="selected"{% endif %}>12 hours</option>
            </select>
        </div>
    </div>
    
    <div class="row mb-3">
        <label for="earlyAlarmDegrees" class="col-sm-2 col-form-label">Early alarm</label>
        <div class="col-sm-10">
            <select class="form-select" id="earlyAlarmDegrees" name="[earlyAlarmDegrees]" {{ disabled }}>
                <option value="0" {% if grilleyesettings.earlyAlarmDegrees == 0 %} selected="selected"{% endif %}>No early warning</option>
                <option value="3" {% if grilleyesettings.earlyAlarmDegrees == 3 %} selected="selected"{% endif %}>5 °C / 37 °F </option>
                <option value="5" {% if grilleyesettings.earlyAlarmDegrees == 5 %} selected="selected"{% endif %}>5 °C / 41 °F</option>
                <option value="10" {% if grilleyesettings.earlyAlarmDegrees == 10 %} selected="selected"{% endif %}>10 °C / 50 °F</option>
            </select>
            <div id="earlyAlarmDegreesHelp" class="form-text">
                Degrees before the target temperature to receive an alarm.
            </div>
        </div>
    </div>
    
    <div class="row mb-3">
        <label for="screenSavingTime" class="col-sm-2 col-form-label">Screen-saving time</label>
        <div class="col-sm-10">
            <select class="form-select" id="screenSavingTime" name="[screenSavingTime]" {{ disabled }}>
                <option value="0" {% if grilleyesettings.screenSavingTime == 0 %} selected="selected"{% endif %}>No dimming</option>
                <option value="180" {% if grilleyesettings.screenSavingTime == 180 %} selected="selected"{% endif %}>3 minutes</option>
                <option value="300" {% if grilleyesettings.screenSavingTime == 300 %} selected="selected"{% endif %}>5 minutes</option>
                <option value="600" {% if grilleyesettings.screenSavingTime == 600 %} selected="selected"{% endif %}>10 minutes</option>
            </select>
            <div id="screenSavingTimeHelp" class="form-text">
                Time before the Grilleye's screen dims.
            </div>
        </div>
    </div>
    
    <div class="row mb-3">
        <label for="autoShutdownTime" class="col-sm-2 col-form-label">Auto shut-down time</label>
        <div class="col-sm-10">
            <select class="form-select" id="autoShutdownTime" name="[autoShutdownTime]" {{ disabled }}>
                <option value="0" {% if grilleyesettings.autoShutdownTime == 0 %} selected="selected"{% endif %}>No dimming</option>
                <option value="180" {% if grilleyesettings.autoShutdownTime == 180 %} selected="selected"{% endif %}>3 minutes</option>
                <option value="300" {% if grilleyesettings.autoShutdownTime == 300 %} selected="selected"{% endif %}>5 minutes</option>
                <option value="600" {% if grilleyesettings.autoShutdownTime == 600 %} selected="selected"{% endif %}>10 minutes</option>
            </select>
            <div id="autoShutdownTimeHelp" class="form-text">
                Time before the Grilleye's automatically shuts down if there are no probes connected.
            </div>
        </div>
    </div>
    
    <div class="row mb-3">
        <label for="coolDownTime" class="col-sm-2 col-form-label">Cool down time</label>
        <div class="col-sm-10">
            <select class="form-select" id="coolDownTime" name="[coolDownTime]" {{ disabled }}>
                <option value="60" {% if grilleyesettings.coolDownTime == 0 %} selected="selected"{% endif %}>1 minute</option>
                <option value="300" {% if grilleyesettings.coolDownTime == 300 %} selected="selected"{% endif %}>5 minutes</option>
                <option value="600" {% if grilleyesettings.coolDownTime == 600 %} selected="selected"{% endif %}>10 minutes</option>
                <option value="1800" {% if grilleyesettings.coolDownTime == 1800 %} selected="selected"{% endif %}>30 minutes</option>
                <option value="3600" {% if grilleyesettings.coolDownTime == 3600 %} selected="selected"{% endif %}>60 minutes</option>
            </select>
            <div id="coolDownTimeHelp" class="form-text">
                Time between repeating temperature alarms. This is the time in 
                between pressing the side button or acknowledging the alarm in the app
                before you receive a new alarm.
            </div>
        </div>
    </div>
    
    <div class="row mb-3">
        <label for="alarmOnDisconnect" class="col-sm-2 col-form-label">Alarm on disconnection</label>
        <div class="col-sm-10">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="alarmOnDisconnect" name="[alarmOnDisconnect]" {% if grilleyesettings.alarmOnDisconnect %} checked{% endif %} {{ disabled }}>
            </div>
            <div id="alarmOnDisconnectHelp" class="form-text">
                Receive an alarm when your Grilleye disconnects from wifi.
            </div>
        </div>
    </div>
    
    <div class="row mb-3">
        <label for="notificationSound" class="col-sm-2 col-form-label">Audible notification</label>
        <div class="col-sm-10">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="notificationSound" name="[notificationSound]" {% if grilleyesettings.notificationSound %} checked{% endif %} {{ disabled }}>
            </div>
            <div id="notificationSoundHelp" class="form-text">
                Enable or disable the beeper on the Grilleye unit.
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

{% endblock %}