<div class="col">
    <div class="card">
        <div class="card-body py-1 px-2">
            <div class="row">
                <div class="col-6">
                    <div class="col">
                        <span class="badge" style="background-color: {{ colors[probe.index - 1] }};" ><h6 class="m-0">Probe {{ probe.index | default("-") }}</h6></span>
                    </div>
                    <div class="col probe-info" id="probe-{{ probe.index }}-temperaturesetting">
                        {{ probe.temperaturesetting  | default("-") }}
                    </div>
                </div>
                <div class="col-6 probe-temperature text-end" id="probe-{{ probe.index }}-temperature">
                    {{ probe.temperature | default("-") }}
                </div>
            </div>
            <div class="row probe-info">
                <div class="col" id="probe-{{ probe.index }}-preset">
                    {{ probe.preset | default("-") }}
                </div>
            </div>
        </div>
        <div class="card-footer bg-transparent py-1 px-2">
            <div class="row">
                <div class="col-5 probe-info" id="probe-{{ probe.index }}-timer">
                    {{ probe.timer | default("-") }}
                </div>
                <div class="col-7 probe-info" id="probe-{{ probe.index }}-donetime">
                    {{ probe.donetime | default("-") }}
                </div>
            </div>
        </div>
    </div>

</div>